body{
  overflow: auto;
}

.list{
    font-size: 20px;
    line-height: 2;
}
.content {
 
    padding: 20px;



 margin: 0;
 margin-bottom: 10px;
  }

  .clicked_elemnt.hide{
    opacity: 0;
  }
  .hide{
    opacity: 0;
  }
.add_content{
  font-size: 20px;
  line-height: 2;
}